# pnpm workspace configuration
auto-install-peers=true
dedupe-peer-dependents=false
enable-pre-post-scripts=true
fund=false
hoist=true
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
link-workspace-packages=true
prefer-workspace-packages=true
save-exact=false
shared-workspace-lockfile=true
strict-peer-dependencies=false